<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--注意：
    UserMapper.java的映射文件
    文件名称与UserMapper.java必须保持一致
    在Mybatis中把持久层的操作接口名称和映射文件叫做Mapper，就是dao接口
    目录在创建的时候要一层层创建，要与mapper接口的包结构相同直接com.zyx.mapper.UserMapper.xml是一级目录
-->
<!--namespace必须是mapper接口的全限定类名-->
<mapper namespace="com.zyx.entity.mapper.UserMapper">
    <!--配置查询所有 id取mapper接口的方法名，resultType为实体类的全限定类-->
    <select id="findAll" resultType="com.zyx.entity.model.User">
        select * from user
    </select>
</mapper>