<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.entity.mapper.UserMapper">
    <!-- 开启二级缓存的支持 -->
    <cache></cache>

    <!-- 定义User+Account的resultMap-->
    <resultMap id="userAccountMap" type="user">
        <id property="id" column="id"></id>
        <result property="username" column="username"></result>
        <result property="address" column="address"></result>
        <result property="sex" column="sex"></result>
        <result property="birthday" column="birthday"></result>
        <!-- 配置user对象中accounts集合的映射 -->
        <collection property="accounts" ofType="account" column="id"
                    select="com.zyx.entity.mapper.AccountMapper.findByUid">
        </collection>
    </resultMap>

    <!--              查询所有  用户+账户  一对多    -->
    <select id="findAllUserToAccount" resultMap="userAccountMap">
        select * from user
    </select>

    <!-- 根据id查询用户 -->
    <!--
        将 UserMapper.xml 映射文件中的<select>标签中设置 useCache="true"代表当前这个 statement 要使用
        二级缓存，如果不使用二级缓存可以设置为 false。
        注意：针对每次查询都需要最新的数据 sql，要设置成 useCache="false"，禁用二级缓存。
     -->
    <select id="findById" parameterType="int" resultType="user" useCache="true">
        select * from user where id = #{uid}
    </select>

</mapper>